{% extends 'main.html' %}

{% block title %}Cek Jenis Madu{% endblock %}

{% block content %}
<div class="container mt-3">
    <!-- Upload Form -->
    <form id="upload-form" enctype="multipart/form-data" class="mt-4">
        {% csrf_token %}
        <input type="hidden" id="hidden-file-input" name="file">
        <button type="button" class="btn btn-primary me-2" onclick="document.getElementById('upload-input').click();">Upload Gambar</button>
        <input class="form-control" type="file" id="upload-input" accept="image/*" style="display: none;" onchange="previewImage(event)">
        <button type="button" class="btn btn-info me-2" onclick="uploadImage()">Cek Jenis Madu</button>
        <button type="button" class="btn btn-secondary" onclick="clearImageAndResult()">Clear</button>
    </form>

    <!-- Image Preview -->
    <div class="row mt-3 mb-4">
        <div class="col-sm-5 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-header">
                    CITRA MADU
                </div>
                <div class="card-body">
                    <!--<h5 class="card-title mb-3 mb-sm-0">Citra Madu</h5>-->
                    <p class="card-text">Gambar Madu:</p>
                    <img id="image-preview" src="#" alt="Image Preview" class="rounded img-thumbnail" style="display: none; max-width: 100%;">
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="card">
                <div class="card-header">
                    HASIL PREDIKSI
                </div>
                <div class="card-body">
                    <!--<h5 class="card-title">Hasil PREDIKSI</h5>-->
                    <p class="card-text">Jenis Madu yang terprediksi adalah:</p>
                    <div class="card bg-success text-white mt-2 mb-3">
                        <div id="honey-highest-type" class="card-body text-center">
                            -
                        </div>
                    </div>
                    <div id="prediction-result" class="card-text text-center">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Honey Type</th>
                                    <th>Prediction (%)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Madu Akasia</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Madu Hutan</td>
                                    <td>-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
            <!-- Modal -->
        <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="alertModalLabel">Alert</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Klik tombol "Upload Gambar" terlebih dahulu untuk memilih gambar yang akan diunggah.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function checkInput() {
        const input = document.getElementById('fileInput');
        const hiddenInput = document.getElementById('hiddenInput');
        if ((!input.files || !input.files[0]) && !hiddenInput.value) {
            const modal = new bootstrap.Modal(document.getElementById('alertModal'));
            modal.show();
            return;
        }
    }

    // Function to handle image preview
    function previewImage(event) {
        const input = event.target;
        const preview = document.getElementById('image-preview');

        if (input.files && input.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    // Function to handle image upload and prediction
    async function uploadImage() {
        const input = document.getElementById('upload-input');
        const hiddenInput = document.getElementById('hidden-file-input');

        if ((!input.files || !input.files[0]) && !hiddenInput.value) {
            const modal = new bootstrap.Modal(document.getElementById('alertModal'));
            modal.show();
            return;
        }

        const formData = new FormData();
        if (input.files && input.files[0]) {
            formData.append('file', input.files[0]);
        } else {
            const response = await fetch(hiddenInput.value);
            const blob = await response.blob();
            const file = new File([blob], 'image.jpg', { type: blob.type });
            formData.append('file', file);
        }

        const csrfToken = getCookie('csrftoken');

        fetch("{% url 'predict' %}", {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': csrfToken,
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.madu_akasia && data.madu_hutan) {
                const table = `
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Honey Type</th>
                                <th>Prediction (%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Madu Akasia</td>
                                <td>${data.madu_akasia}%</td>
                            </tr>
                            <tr>
                                <td>Madu Hutan</td>
                                <td>${data.madu_hutan}%</td>
                            </tr>
                        </tbody>
                    </table>
                `;
                document.getElementById('prediction-result').innerHTML = table;
                document.getElementById('honey-highest-type').innerText = `${data.honey_highest_type} (${data.honey_highest_prob}%)`;
            } else {
                alert('Error predicting honey type');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    // Function to get CSRF token
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function showImage(imageSrc) {
        var img = document.getElementById('image-preview');
        
        img.src = imageSrc;
        
        img.style.display = 'block';

        document.getElementById('hidden-file-input').value = imageSrc;
    }

    // Function to clear image preview and prediction result
    function clearImageAndResult() {
        document.getElementById('image-preview').style.display = 'none';
        document.getElementById('image-preview').src = '#';
        document.getElementById('prediction-result').innerHTML = `
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Honey Type</th>
                        <th>Prediction (%)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Madu Akasia</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Madu Hutan</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>`;
        document.getElementById('honey-highest-type').innerText = '-';
        document.getElementById('upload-input').value = '';
        document.getElementById('hidden-file-input').value = '';
    }
</script>
{% endblock %}
